{% extends "template/layout.html" %}



{% block body %}
</section>
<div class="sec1" id="sec1">
    <h2>
        MoonLime
    </h2>
    <h3>
        About Us
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, accusamus voluptates ipsam aspernatur magni tempora laborum fugiat maiores sequi. Blanditiis facere aliquid alias, officia modi quidem et tempora, reiciendis ab dolorum quasi sequi reprehenderit consectetur esse sit maiores. Explicabo distinctio quidem quis officia nulla natus laudantium quas aspernatur suscipit ea.</br></br></p>
</div>


<div class="sec2" id="sec2">
    <h2>
        Projects
    </h2>
    
    <ul>
        <li>
            <div class="card">
                <div class="img-box">
                    <img src="pic.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Research: School Club Culture <br><span>Project Lead: Soujanya C. Aryal</span></h2>
                    </div>
                    <div class="actionBtn">
                        <button>Learn more</button>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="img-box">
                    <img src="pic.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Research: Nepali Classical Music<br><span>Project Lead: Bijyeta Maharjan</span></h2>
                    </div>
                    <div class="actionBtn">
                        <button>Learn more</button>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <div class="img-box">
                    <img src="pic.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Project: Karya<br><span>Project Lead: Soujanya C. Aryal</span></h2>
                    </div>
                    <div class="actionBtn">
                        <button>Learn more</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>



<div class="sec2" id="sec4">
    <h2>Team</h2>
    <ul>
        <li>
            <img src="pic.png" alt="Soujanya">
            <h3>Soujanya C. Aryal</h3>
            <h4>Founder/President</h4>
            <button type="button" class="btn btn-light"><a href="https://www.instagram.com/soujan.ya/" target="_blank">More...</a></button>
        </li><li>
            <img src="pic.png" alt="Bijyeta">
            <h3>Bijyeta Maharjan</h3>
            <h4>Executive Member/Vice President</h4>
            <button type="button" class="btn btn-light"><a href="https://www.instagram.com/odby_y/" target="_blank">More...</a></button>
        </li>
    </ul>
</div>



<div class="sec3" id="sec3">
    <h2>
        Contact Us
    </h2>
    <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
            <a href="https://github.com/moonlime50" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/moonlime.np/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/moon-lim3/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>
{% endblock %}


