@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace, sans-serif;
}
body {
    background-color:#F7F7F7;
    min-height: 150vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 1000000;
    padding: 40px 100px;
}
header.sticky { 
    padding: 15px 100px;
    background-color: #000;
}
header .logo {
    position: relative;
    color: #000;
    text-decoration: none;
}
header .logo img {

  width: 50px;
  opacity: 0;
  z-index: 1000;
}
header .logodiv.scrolling img {
    opacity: 1;
}
header ul {
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 5750;
    transform: 0.5s;
}
header ul li a:hover {
    text-decoration: underline;
    transition: 0.6s;
}
.banner {
    position: relative;

    width: 100%;
    background-color: #F7F7F7;
    min-height: 5vh;
}
header.sticky ul li a, header.sticky .logo {
    color: #fff;
    font-size: 21px;
    transition: 0.5s;

}

.main {
    position: relative;
    background: #F7F7F7;
    display: flex;
    height: 65vh;
    justify-content: center; 
    align-items: center;
}
.main .title, .main .title1 {
    font-family: 'Poppins';
    font-size: 75px;
    margin: 10px;
}
.main .title {
    background-color: #000;
    padding: 0 15px;
    color: #fff;
}
.main .text {
    position: relative;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    min-height: 50vh;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.content ul {
    display : flex;
    justify-content: center;
    align-items: center;
}
.content ul li {
    list-style: none;
    margin: 100px;
}
.content ul li img {
    width: 350px;
}

.content ul li p {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
}
.content ul li p:hover {
    font-size: 18px;
}
